<div class="animate__animated animate__fadeInBottomLeft animate__faster">
  <h2>Por pais</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."
      ></app-pais-input>
    </div>
  </div>
</div>

<!-- Sugerencias -->
<ul class="list-group" *ngIf="mostrarSugerencias === true">
  <li
    *ngFor="let pais of paisesSugerencias"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">{{
      pais.name
    }}</a>
  </li>
  <li *ngIf="termino.length > 0" class="list-group-item list-group-item-action">
    <a (click)="buscar(termino)" class="nav-link text-secondary"
      >Buscar "{{ termino }}"</a
    >
  </li>
</ul>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
